
.about-section{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  overflow-y: scroll;
  width: 100%;
  --default-margin-space:50px;
}

.about-section > div{
  grid-column: 2/3;
}

.section-header{
  text-align: center;
}

.background-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--default-margin-space) auto;
}

.background-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-icon{
  width: 100px;
  margin-bottom: calc(var(--default-margin-space) / 2);
}

.about-text{
  margin:5px auto 10px auto
}

.skills-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-holder{
  width: 100%;
}

.contact-info{
  margin: var(--default-margin-space) auto;
}

.about-email, .about-call-to-action{
  text-align: center;
}

.about-email{
  font-style: italic;
}

@media (max-width:500px){
  .about-section{
    grid-template-columns: 1fr;
  }

  .about-section > div{
    grid-column: 1/2;
  }
}