*{
  margin:0px;
  padding:0px;
}

#root{
  width:100vw;
  height:100vh;
  background-color: #faf3e0;
  color:#2a3d45;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}


/* Hide scrollbar for Chrome, Safari and Opera */
section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
section {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}